<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        <strong th:text="'Hola de nuevo ' + ${nombrePerfil}+'!'"></strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${notificacion != null}" class="card text-bg-light bg-success mb-3 mt-3 mensajeExito" >
            <div class="card-body">
                <p class="card-text" th:text="${notificacion}"></p>
            </div>
        </div>
    <div class="container">
        <div class="m-0 row g-5 justify-content-center align-items-center">
            <div class="row g-5">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="/img/tarjetas/electricista.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Electricidad</h5>
                            <p class="card-text">Amplia experiencia en instalaciones eléctricas residenciales. Comprometido con la seguridad y eficiencia energética. Soluciones confiables.</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="/img/tarjetas/plomero.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Plomería</h5>
                            <p class="card-text">Reparaciones y mantenimiento de tuberías y sistemas de plomería. Resuelve problemas con eficiencia y garantiza calidad.</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="/img/tarjetas/albañil.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Construcción</h5>
                            <p class="card-text">Construcción y reparación, especializada en proyectos residenciales. Soluciones integrales, calidad y satisfacción del cliente.</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="/img/tarjetas/gasista.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gas</h5>
                            <p class="card-text">Gasistas matriculados con experiencia en instalaciones y reparaciones de sistemas de gas. Cumplimiento de normativas de seguridad.</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="/img/tarjetas/carpintero.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Carpintería</h5>
                            <p class="card-text">Habilidades excepcionales en la creación de muebles y estructuras a medida. Detallistas y comprometidos con la excelencia artesanal.</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="/img/tarjetas/jardinero.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jardinería</h5>
                            <p class="card-text">Apasionados por el diseño y mantenimiento de espacios verdes. Transformamos tu jardín en un oasis natural, cuidando cada detalle.</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 id="contratos">Contratos</h4>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead class="table-dark">
                <tr>

                    <th style="font-size: 85%" scope="col">Cliente</th>                  
                    <th style="font-size: 85%" scope="col">Fecha Inicio</th>
                    <th style="font-size: 85%" scope="col">Estado Del Contrato</th>
                    <th style="font-size: 85%" scope="col">Fecha Finalizado</th>  
                    <th style="font-size: 85%" scope="col">Cambiar Estado</th>
                    <th style="font-size: 85%" scope="col">Calificacion </th>                           
                    <th style="font-size: 85%" scope="col">Comentarios</th>

                </tr>
            </thead>
            <tbody th:each="contrato : ${contrato}" >
                <tr>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td >
                        <div class="btn-group">
                            <a class="dropdown-item" href="#" data-bs-toggle="dropdown" aria-expanded="false">estado actual</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">EN ESPERA</a></li>
                                <li><a class="dropdown-item" href="#">RECHAZADO</a></li>
                                <li><a class="dropdown-item" href="#">FINALIZADO</a></li>
                                <li><a class="dropdown-item" href="#">EN PROCESO</a></li>
                                <li><a class="dropdown-item" href="#">CANCELAR</a></li>
                            </ul>
                        </div>
                    </td>
                    <td >
                        <i class="bi bi-star-fill star" value="1"></i>
                        <i class="bi bi-star-fill star" value="2"></i>
                        <i class="bi bi-star-fill star" value="3"></i>
                        <i class="bi bi-star-fill star" value="4"></i>
                        <i class="bi bi-star-fill star" value="5"></i>
                    </td>
                    <td >
                        <textarea class="form-control" id="textarea" placeholder="Comentario" rows="3"></textarea>
                    </td>

                </tr>          
            </tbody>
        </table>
</main>