<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        <strong>Hola Mario!</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container">
        <div class="m-0 row g-5 justify-content-center align-items-center">
            <div class="row g-5">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="/img/tarjetas/electricista.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Electricidad</h5>
                            <p class="card-text">Solución a tus problemas hogar e industria</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="/img/tarjetas/plomero.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Plomería</h5>
                            <p class="card-text">Solución a tus problemas hogar e industria</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="/img/tarjetas/albañil.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Construcción</h5>
                            <p class="card-text">Solución a tus problemas hogar e industria</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="/img/tarjetas/gasista.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gas</h5>
                            <p class="card-text">Solución a tus problemas hogar e industria</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="/img/tarjetas/carpintero.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Carpintería</h5>
                            <p class="card-text">Solución a tus problemas hogar e industria</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="/img/tarjetas/jardinero.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jardinería</h5>
                            <p class="card-text">Solución a tus problemas hogar e industria</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <h2 id="contratos">Contratos</h2>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>

                    <th scope="col">Cliente</th>                                  
                    <th scope="col">Fecha inicio</th>
                    <th scope="col">Estado del contrato</th>
                    <th scope="col">Fecha finalizado</th>                                 
                    <th scope="col">Calificacion </th>                           
                    <th scope="col">Comentarios</th>

                </tr>
            </thead>
            <tbody >
                <tr>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td </td>
                    <td ></td>
                    <td ></td>

                </tr>          
            </tbody>
        </table>
        
       
</main>