<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        <strong th:text="'Hola de nuevo ' + ${nombrePerfil}+'!'"></strong>  
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>



    <div class="card mb-3" style="max-width: 700px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid" mx-auto d-block" " th:src="${session.usuariosession.imagen != null} ? @{/imagenes/__${idProveedor}__} : @{/img/extraterrestre.png}" alt="Logo" ></a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Mi Perfil</h5>
                    <ul class="list-group list-group-flush" >

                        <li class="list-group-item" th:text="'Numero Matricula: ' + ${Proveedor.numMatricula}"></li> 
                        <li class="list-group-item" th:text="'Nombre: ' + ${Proveedor.nombreApellido}"></li>
                        <li class="list-group-item" th:text="'DNI: ' + ${Proveedor.dni.numero}"></li> 
                        <li class="list-group-item" th:text="'Telefono: ' + ${Proveedor.telefono}"></li>
                        <li class="list-group-item" th:text="'Correo: ' + ${Proveedor.correo}"></li>
                        <li class="list-group-item" th:text="'Costo por hora: ' + ${Proveedor.costoHora}"></li>

                    </ul>

                    <p class="card-text"><small class="text-body-secondary">Calificacion</small></p>
                    <a class="dropdown-item" type="button" th:href="@{/usuario/modificacion?modo=proveedor}">Editar Perfil</a>
                </div>
            </div>
        </div>
    </div>
    <h4 id="contratos">Contratos</h4>
    <div class="table-responsive small">

        <table class="table table-striped table-sm">
            <thead class="table-dark">
                <tr>

                    <th style="font-size: 85%" scope="col">Cliente</th>
                    <th style="font-size: 85%" scope="col">Telefono de contacto</th>
                    <th style="font-size: 85%" scope="col">Fecha Inicio</th>
                    <th style="font-size: 85%" scope="col">Fecha Finalizado</th>  
                    <th style="font-size: 85%" scope="col">Estado Del Contrato</th>
                    <th style="font-size: 85%" scope="col">Calificacion</th>                           
                    <th style="font-size: 85%" scope="col">Comentarios</th>

                </tr>
            </thead>
            <tbody th:each="contrato : ${contratos}">
                <tr>
                    <td style="font-size: 85%" th:text=${contrato.cliente.nombreApellido}></td>
                    <td style="font-size: 85%" th:text=${contrato.cliente.telefono}></td>
                    <td style="font-size: 85%" th:text=${contrato.fechaInicio}></td>
                    <td style="font-size: 85%" th:text=${contrato.fechaFinalizado}></td>
                    <td style="font-size: 85%" th:text=${contrato.estadoContrato}>
                        <div class="inputContainer">
                            <select class="form-select input" aria-label="Default select example" name="categoriaServicio" th:value="${contrat.estadoContrato}" required>

                                <option selected>Categoria de servicio</option>

                                <option value="ESPERA">EN ESPERA</option>
                                <option value="ACEPTAR">ACEPTAR</option>
                                <option value="PROCESO">EN PROCESO</option>
                                <option value="CANCELAR">CANCELAR</option>
                                <option value="FINALIZAR">FINALIZAR</option>

                            </select>

                        </div>
                    </td>
                    <td style="font-size: 85%" th:text=${contrato.califCliente}>
                        <i class="star"  value="1" th:selected="${contrato.califCliente == '1'}">&#9733;</i>
                        <i class="star"  value="2" th:selected="${contrato.califCliente == '2'}">&#9733;</i>
                        <i class="star"  value="3" th:selected="${contrato.califCliente == '3'}">&#9733;</i>
                        <i class="star"  value="4" th:selected="${contrato.califCliente == '4'}">&#9733;</i>
                        <i class="star"  value="5" th:selected="${contrato.califCliente == '5'}">&#9733;</i>
                    </td>
                    <td >
                        <textarea style="font-size: 85%"  class="form-control" id="textarea" placeholder="Comentario" rows="3 th:text=${contrato.comentarioProveedor}"></textarea>
                    </td>

                </tr>          
            </tbody>
        </table>
</main>