<main>
    <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">ZONA SERVI</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">¡Bienvenidos a nuestra página web! En "Conócenos", queremos compartir un poco de nuestra historia, nuestra pasión y nuestra misión contigo.
Somos el equipo F de EGG integrado por individuos dedicados a hacer una diferencia en el mundo. Nuestra historia comenzó con un idea y una visión de crear algo único y significativo. Cada uno de nosotros aporta una experiencia única y una habilidad especial a nuestro trabajo.
Nos enorgullece nuestra dedicación e innovación. Constantemente
buscamos nuevas formas de mejorar y crecer, y nos esforzamos por superar los inconvenientes que fueron surgiendo en el proyecto.
Nuestra misión es crear una página web que logre unir clientes que nececitan de servicios en su hogar, con proveedores confiables en Chacras de Coria y trabajamos incansablemente para lograrlo. Creemos que juntos podemos marcar la diferencia y dejar un impacto positivo en el mundo.
Así que, gracias por tomarte el tiempo para conocernos! Esperamos que disfrutes explorando lo que hacemos y que te sientas inspirado a unirte a nuestra página web.
¡Bienvenidos a ZONA SERVI! </p>
  
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="/img/vista-index.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
       <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
         <a href="#" class="btn btn-danger" style="margin:5px;" role="button">Volver</a>   
      </div>
  </div>
   
</main>