<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        <strong th:text="'Hola de nuevo ' + ${nombrePerfil}+'!'"></strong>  
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>



    <div class="card mb-3" style="max-width: 700px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="${session.usuariosession.imagen != null} ? @{/imagenes/__${idProveedor}__} : @{/img/extraterrestre.png}" alt="Logo" width="280" height="280" class="rounded-circle me-1 d-inline-block align-text-center"></a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Mi Perfil</h5>
                    <ul class="list-group list-group-flush" >

                        <li class="list-group-item" th:text="'Numero Matricula: ' + ${Proveedor.numMatricula}"></li> 
                        <li class="list-group-item" th:text="'Nombre: ' + ${Proveedor.nombreApellido}"></li>
                        <li class="list-group-item" th:text="'DNI: ' + ${Proveedor.dni.numero}"></li> 
                        <li class="list-group-item" th:text="'Telefono: ' + ${Proveedor.telefono}"></li>
                        <li class="list-group-item" th:text="'Correo: ' + ${Proveedor.correo}"></li>
                        <li class="list-group-item" th:text="'Costo por hora: ' + ${Proveedor.costoHora}"></li>

                    </ul>

                    <p class="card-text"><small class="text-body-secondary">Calificacion</small></p>
                    <a class="dropdown-item" type="button" th:href="@{/usuario/modificacion?modo=proveedor}">Editar Perfil</a>
                </div>
            </div>
        </div>
    </div>
   
        
            <h4 id="contratos">Contratos en ESPERA</h4>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead class="table-dark">
                <tr>

                    <th style="font-size: 85%" scope="col">Cliente</th>                  
                    <th style="font-size: 85%" scope="col">Fecha Inicio</th>
                    <th style="font-size: 85%" scope="col">Estado Del Contrato</th>                    
                    <th style="font-size: 85%" scope="col">Cambiar Estado</th>



                </tr>
            </thead>
            <tbody >
                <tr>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td >
                    <a type="button"  class="button" href="#">RECHAZADO</a>
                    <a type="button"  class="button" href="#">ACEPTADO</a></td>
                </tr>          
            </tbody>
        </table>
        <h4 id="contratos">Contratos en PROCESO</h4>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead class="table-dark">
                    <tr>

                        <th style="font-size: 85%" scope="col">Cliente</th>                  
                        <th style="font-size: 85%" scope="col">Fecha Inicio</th>
                        <th style="font-size: 85%" scope="col">Estado Del Contrato</th>
                        <th style="font-size: 85%" scope="col">Cambiar Estado</th>                
                        
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td >
                            <a type="button" class="button" href="#">FINALIZADO</a>
                        </td>
                    </tr>          
                </tbody>
            </table>
            <h4 id="contratos">Contratos por CALIFICAR</h4>
            <div class="table-responsive small">
                <table class="table table-striped table-sm">
                    <thead class="table-dark">
                        <tr>

                            <th style="font-size: 85%" scope="col">Cliente</th>                  
                            <th style="font-size: 85%" scope="col">Fecha Inicio</th>
                            <th style="font-size: 85%" scope="col">Estado Del Contrato</th>
                            <th style="font-size: 85%" scope="col">Fecha Finalizado</th>                        
                            <th style="font-size: 85%" scope="col">Calificacion</th>                           
                            <th style="font-size: 85%" scope="col">Comentarios</th>

                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td ></td>
                            <td ></td>
                            <td ></td>
                            <td ></td>
                            <td >

                                <div class="container">
                                    <div class="rating">
                                        <input type="radio" name="rating1" style="--c:#ff9933;">                       
                                        <input type="radio" name="rating2" style="--c:#ff9933;">
                                        <input type="radio" name="rating3" style="--c:#ff9933;">
                                        <input type="radio" name="rating4" style="--c:#ff9933;">
                                        <input type="radio" name="rating5" style="--c:#ff9933;">
                                    </div>
                                </div>
                            </td>
                            <td >
                                <textarea class="form-control" id="textarea" placeholder="Comentario" rows="3"></textarea>
                            </td>

                        </tr>          
                    </tbody>
                </table>
</main>