<footer>   
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Inicio</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Servicios</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Conocenos</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Perfil</a></li>                
            </ul>

            <img src="/img/Lg_sf.png" width="70" height="52" alt="alt"/>            
            <p class="col-md-4 mb-0 text-muted">&copy; 2023 Zona Servi, Inc</p>
        </footer>
</footer>