<menu class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary" >

    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Zona Servi</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3">
            <ul class="nav flex-column mb-auto">

                <li class="nav-item" >
                    <a style="font-family: arial; color: black"  class="nav-link d-flex align-items-center gap-2 active" aria-current="page" th:if="${modo != 'proveedor'}">
                    <b>Sesion Cliente</b>
                </a>
                </li>

                <li class="nav-item" >
                    <a style="font-family: arial; color: black"  class="nav-link d-flex align-items-center gap-2 active" aria-current="page" th:if="${modo != 'cliente'}">
                        <b>Sesion Proveedor</b>
                    </a>
                </li>

                <hr class="my-3">


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"  data-bs-toggle="dropdown" aria-expanded="false" th:if="${modo != 'proveedor'}" >Categoría de servicios</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Carpintería</a></li>
                        <li><a class="dropdown-item" href="#">Gas</a></li>
                        <li><a class="dropdown-item" href="#">Electricidad</a></li>
                        <li><a class="dropdown-item" href="#">Plomería</a></li>
                        <li><a class="dropdown-item" href="#">Jardinería</a></li>
                        <li><a class="dropdown-item" href="#">Construccion</a></li>
                    </ul>

                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#contratos">
                        Mis Contratos
                    </a>
                </li>
            

            </ul>

            <hr class="my-3">

            <ul class="nav flex-column mb-auto">

                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="/salir">
                        Cerrar Sesion
                    </a>
                </li>
            </ul>
        </div>
    </div>


</menu>