<nav class="navbar navbar-expand-sm navbar-white bg-white" style="background-color: transparent; opacity: 1;" aria-label="Fourth navbar example">
    <!-- unificacion de navbar de las sesiones  -->
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/Lg_sf.png"  width="65" height="50" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Ir</button>
            </form>
            
            
            <!-- perfil foto sola cliente -->
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/img/extraterrestre.png" alt="Logo" width="40" height="30" class="d-inline-block align-text-top">Sesion cl</a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item"  href="/usuario/modificacion?modo=cliente" >Mi Perfil cliente</a></li>
                <li><a class="dropdown-item" href="#">Mis Contratos</a></li>   
                <li><a class="dropdown-item" href="#">Notificaciones</a></li> 
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"> Cerrar sesion</a></li>
            </ul>

            <!-- perfil foto sola proveedor -->
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/img/extraterrestre.png" alt="Logo" width="40" height="30" class="d-inline-block align-text-top"> Sesion</a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{/usuario/modificacion?modo=proveedor}">Mi Perfil prov</a></li>
                <li><a class="dropdown-item" href="#">Mis Contratos</a></li>       
                <li><a class="dropdown-item" href="#">Notificaciones</a></li>  
                <li><hr class="dropdown-divider"></li>
               <li><a class="dropdown-item" href="#"> Cerrar sesion</a></li>
            </ul>

        </div>
    </div>
        </div>
    </div>
</nav>