<!--
<nav class="navbar" style="background-color: white;">
  <div class="container-fluid">
      <img src="/img/logo_completo_sin_marco.png"  width="45" height="35" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="#">ZONA SERVI</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Inicio</a>
              </li>
              
          </ul>            
          <a style="margin:1px;" class="btn btn-outline-success" href="/ingreso">Logineate</a>            
          <a style="margin:10px;" class="btn btn-outline-success" href="/registro">Registrarse</a>  

          <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Ir</button>
          </form>
      </div>
  </div>
</nav>-->

<nav class="navbar navbar-expand-md navbar-white bg-white" aria-label="Fourth navbar example">
 
  <div class="container-fluid">
    <img src="/img/logo_imagen.png"  width="50" height="35" class="d-inline-block align-text-top">
    <a class="navbar-brand" href="#"> ZONA SERVI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                
            </ul>            
            <a style="margin:1px;" class="button" href="/ingreso">Login</a>            
            <a style="margin:10px;" class="button" href="/registro">Registrarse</a>  
  
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Ir</button>
            </form>
    </div>
  </div>
</nav>
