<nav class="navbar navbar-expand-sm navbar-white" style="background-color: black; opacity: 1;" aria-label="Fourth navbar example">

    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/Lg_sf.png"  width="65" height="50" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               
            </ul> 

            <a href="/ingreso" class="btn btn-danger" style="margin:5px;" role="button">Ingresar</a>

            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" style="margin: 20px" data-bs-toggle="dropdown" aria-expanded="false">
                    Registrate
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/registro?modo=cliente">Cliente</a></li>
                    <li><a class="dropdown-item" href="/registro?modo=proveedor">Proveedor</a></li>
                </ul>
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Ir</button>
            </form>
        </div>
    </div>
        
</nav>
