.bg-custom{
    background-color: white;
}
.slider-container{
    border: 1px solid red;
    border-radius: 8px;
    overflow: hidden;
}
.navbar-container{
    border: 1px solid red;
    border-radius: 0px;
    margin: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.star{
    font-size: 12px; 
    color:black ;
    transition: color 0.3s; 
    border: none;
}
.star:hover{
    color: gold;
      cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.rating{
    position: relative;
    display: flex;

        flex-direction: row-reverse;
    
}
.rating input{
    position: relative;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}
.rating input::before{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    font-size: 16px;
    color: black;
    transition: 0.5s;
}
.rating input:hover ~ input::before ,
.rating input:hover::before ,
.rating input:checked ~ input::before ,
.rating input:checked::before{
    color:var(--c);
}