.header{
    display: flex;
    font-family: "Audiowide", sans-serif;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    height: 70px;
}
#logo{

height: 400px;
width: 400px;
text-align: center;

}



#palabra{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(241, 240, 128);
  font-family: "lato", sans-serif;
}

body {

background-color: whitesmoke; 
   

}
/*index*/

.marca{
 
   text-align: center;
   margin-top: 30px;
}



button{
    background-color:transparent;
    border-color: transparent;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:#f3b634;
    text-align: center;
    font-weight: 700;
}

button:hover{
color: purple ;

}

.registrate{

    margin-left: 50px;
}

.visitanos{

    margin-left: 50px;
}


/*formulario*/
.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: white;
    width: 500px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
    font-size: 50px;
    margin-bottom: 50px;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 99%;
    margin-bottom: 25px;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px
}

 .submitBtnR {
    display: block;
    margin-left: auto;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: purple;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;

}

.submitBtnR:hover {
    background-color: #f3b634;
    transform: translateY(-2px);
}

.submitBtn:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
}

.input:focus+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #f3b634;
}

.input:focus {
    border: 2px solid purple;
}

.input:not(:placeholder-shown)+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}

h3 {
    text-align: center;
}
<!--registro prueba-->
#registro{
    
   border-width: 50px;
   border-color: orangered;
   background-color: #f3b634;
}
.registro{
    border-width: 50px;
    border-color: orangered;
    background-color: #f3b634;
}
#label{
   width: 25%; 
   float:left;
}
.class{
    text-align: center;
}



