<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Zona Servi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/bg.css">
       
    </head>
    <body class="bg-custom">
        <!-- Navbar Inicio -->
        <nav th:replace="/fragments/navbar :: nav"> </nav>
        <!-- Navbar Final -->

        <!-- Carrusel Inicio -->        
        <div class="container mt-5">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="slider-container">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/slider/1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/slider/2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/slider/3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4"></div>
        <!-- Carrusel Final -->



        <!-- Tarjetas Inicio -->
        <div class="container">
            <div class="contenedor" style="width: 1219px; height:750px;">          
                <div class="row">             
                    <div class="col-md-4">
                        <div class="card mb-4" style="width: 18rem;">
                            <img class="card-img-top" src="/img/tarjetas/electricista.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Electricidad</h5>
                                <p class="card-text">Solución a tus problemas hogar e industria.</p>
                                <a href="#" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4" style="width: 18rem;">
                            <img class="card-img-top" src="/img/tarjetas/plomero.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Plomería</h5>
                                <p class="card-text">Solución a tus problemas hogar e industria.</p>
                                <a href="#" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4" style="width: 18rem;">
                            <img class="card-img-top" src="/img/tarjetas/albañil.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Construcción</h5>
                                <p class="card-text">Solución a tus problemas hogar e industria.</p>
                                <a href="#" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4" style="width: 18rem;">
                            <img class="card-img-top" src="/img/tarjetas/carpintero.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Carpinteria</h5>
                                <p class="card-text">Solución a tus problemas hogar e industria.</p>
                                <a href="#" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4" style="width: 18rem;">
                            <img class="card-img-top" src="/img/tarjetas/gasista.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Gas</h5>
                                <p class="card-text">Solución a tus problemas hogar e industria.</p>
                                <a href="#" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4" style="width: 18rem;">
                            <img class="card-img-top" src="/img/tarjetas/jardinero.webp" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Jardinería</h5>
                                <p class="card-text">Solución a tus problemas hogar e industria.</p>
                                <a href="#" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tarjetas Final -->


        <footer th:replace="/fragments/footer :: footer"> </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


    </body>
</html>
