<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Zona Servi</title>
        <meta charset="UTF-8">
         <link rel="icon" type="image/svg+xml" href="/img/Lg_sf.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/bg.css">
        <link rel="stylesheet" href="/css/ali.css">

    </head>
    <body class="bg-custom">
        <!-- Navbar Inicio -->
        <nav th:replace="/fragments/navbar :: nav"> </nav>
        <!-- Navbar Final -->
        <div class="container">
            <div class="col-12">
                <div class="slider">
                    <!-- Carrusel Inicio -->        
                    <div class="container mt-5">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="slider-container">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/img/slider/1.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/slider/2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/slider/3.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="mt-4"></div>
                <!-- Carrusel Final -->



                <!-- Tarjetas Inicio -->

                <!-- Tarjetas Final -->

                
                    <div class="container">
                        <div class="m-0 row g-5 justify-content-center align-items-center">
                            <div class="row g-5">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card" style="width: 20rem;">
                                        <img class="card-img-top" src="/img/tarjetas/electricista.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Electricidad</h5>
                                            <p class="card-text">Amplia experiencia en instalaciones eléctricas residenciales. Comprometido con la seguridad y eficiencia energética. Soluciones confiables.</p>
                                            
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card" style="width: 20rem;">
                                        <img class="card-img-top" src="/img/tarjetas/plomero.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Plomeria</h5>
                                            <p class="card-text">Reparaciones y mantenimiento de tuberías y sistemas de plomería. Resuelve problemas con eficiencia y garantiza calidad.</p>
                                         
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card" style="width: 20rem;">
                                        <img class="card-img-top" src="/img/tarjetas/albañil.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Construcción</h5>
                                            <p class="card-text">Construcción y reparación, especializada en proyectos residenciales. Soluciones integrales, calidad y satisfacción del cliente.</p>
                                           
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card" style="width: 20rem;">
                                        <img class="card-img-top" src="/img/tarjetas/gasista.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Gasista</h5>
                                            <p class="card-text">Gasistas matriculados con experiencia en instalaciones y reparaciones de sistemas de gas. Cumplimiento de normativas de seguridad.</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card" style="width: 20rem;">
                                        <img class="card-img-top" src="/img/tarjetas/carpintero.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Carpinteria</h5>
                                            <p class="card-text">Habilidades excepcionales en la creación de muebles y estructuras a medida. Detallistas y comprometidos con la excelencia artesanal.</p>
                                         </div>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card" style="width: 20rem;">
                                        <img class="card-img-top" src="/img/tarjetas/jardinero.webp" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Jardineria</h5>
                                            <p class="card-text">Apasionados por el diseño y mantenimiento de espacios verdes. Transformamos tu jardín en un oasis natural, cuidando cada detalle.</p>
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <footer th:replace="/fragments/footer :: footer"> </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


    </body>
</html>
