<!DOCTYPE html>
<html lang="en">
  <html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro proveedor</title>
  <link rel="stylesheet" href="/css/estilos.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
 
</head>

<body> 
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Zona Servi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item dropdown"></li>          
        </ul>
        <form class="d-flex" role="Buscar">
          <input class="form-control me-2" type="buscar" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success" type="submit">Ir</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="signupFrm">
    <form action="" class="form">
      <h3 class="title">Registrarse</h3>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="" name="nombreApellido" th:value="${nombreApellido}">
        <label for="" class="label" >Nombre y Apellido</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="" name="direccion" th:value="${direccion}">
        <label for="" class="label">Dirección</label>
      </div>

      <div class="inputContainer">
        <input type="number" class="input" placeholder="" name="dni" th:value="${dni}">
        <label for="" class="label">DNI</label>
      </div>

      <div class="inputContainer">
        <input type="number" class="input" placeholder="a" name="telefono" th:value="${telefono}">
        <label for="" class="label">Telefono</label>
      </div>

      <div class="inputContainer">
        <input type="email" class="input" placeholder="" name="correo" th:value="${correo}">
        <label for="" class="label">E-mail</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="" name="categoriaServicio" th:value="${categoriaServicio}">
        <label for="" class="label">Profesión</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="" name="numeroMatricula" th:value="${numeroMatricula}">
        <label for="" class="label">Matricula Profesional</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="" name="costoHora" th:value="${costoHora}">
        <label for="" class="label">Costo Hora de Trabajo</label>
      </div>
      <div class="inputContainer">
        <input type="password" class="input" placeholder="" name="contrasenia" >
        <label for="" class="label">Contraseña</label>
      </div>

      <div class="inputContainer">
        <input type="password" class="input" placeholder="" name="contrasenia2">
        <label for="" class="label">Confirmar Contraseña</label>
      </div>


      <input type="submit" class="submitBtn" value="Enviar">
    </form>
  </div>  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>